.social-media__item {
  display: inline-block;
}

.social_media__item-offset {
  margin-right: 16px;
}

.social-media__link {
  display: block;
  text-decoration: none;
  color: #fff;
}

.social-media-home {
  position: fixed;
  bottom: 5vh;
  left: 3vw;
}
