<div class="about-us">
  <div class="about-us__item-1"></div>
  <div class="about-us__item-2">
    <div class="about-us__text-container">
      <h2 class="about-us__text-title">О нас</h2>
      <h3 class="about-us__text-1">Создаем мебель с&nbsp;2012</h3>
      <p class="about-us__text-2">Cezari&nbsp;&mdash; бренд, который изготавливает корпусную и&nbsp;мягкую мебель,
        основан в&nbsp;2012 году группой людей, кому нравится создавать и&nbsp;воплощать интерьерные решения в&nbsp;жизнь.
        Убеждены, что нынешний дизайн не&nbsp;должен иметь никаких компромиссов в&nbsp;качестве материалов.
        Мебель уже давно стала важной частью нашей жизни, поэтому,
        при изготовлении продукции руководствуемся актуальными решениями на&nbsp;рынке.</p>
      <h3 class="about-us__text-1">Более 20&nbsp;лет эксплуатации</h3>
      <p class="about-us__text-2">Разрабатываем и&nbsp;создаем мебель для всего дома и&nbsp;офисов.
        За&nbsp;счет отработанного процесса производства, поставок комплектующих, создаем мебель различной сложности и&nbsp;ценовой категории.
        В&nbsp;изготовлении используются только сертифицированные комплектующие производителей из&nbsp;Италии,
        Германии и&nbsp;Украины, которые рассчитаны на&nbsp;длительное время эксплуатации.</p>
      <h3 class="about-us__text-5">Что мы&nbsp;делаем</h3>
    </div>
    <div class="about-us__pic">
      <div class="about-us__item_flex about-us__item_flex-BG-1">
        <h4 class="about-us__text-3">Корпусная мебель</h4>
        <p class="about-us__text-4">Кухни, гардеробные комнаты, шкафы-купе, детские комнаты,
          ванные</p>
      </div>
      <div class="about-us__item_flex about-us__item_flex-BG-2">
        <h4 class="about-us__text-3">Мягкая мебель</h4>
        <p class="about-us__text-4">Прямые и&nbsp;угловые диваны,
          кровати, мебель для офисов и&nbsp;для всего дома</p>
      </div>
      <div class="about-us__item_flex about-us__item_flex-last about-us__item_flex-BG-3">
        <h4 class="about-us__text-3">Процесс</h4>
        <p class="about-us__text-4">Готовим эскизы. Делаем замеры домашнего пространства.
          Создаем продукт</p>
      </div>
    </div>
  </div>
</div>
<app-footer-less class="about-us__footer"></app-footer-less>
