<div class="contacts">
  <div class="contacts__item-1">
    <iframe src="https://snazzymaps.com/embed/26823" width="100%" height="100%" style="border:none;"></iframe>
  </div>
  <div class="contacts__item-2">
    <div class="text-container">
       <h2 class="contacts__text-title">Наши контакты</h2>
      <h3 class="contacts__text-1">Тел:</h3>
      <p class="contacts__text-2">+38 067 868 88 90</p>
      <h3 class="contacts__text-1">Время работы:</h3>
      <p class="contacts__text-2">Понедельник &mdash; Воскресенье <br> 10:00 &ndash; 20:00</p>
      <h3 class="contacts__text-1">Адрес:</h3>
      <p class="contacts__text-2">Город Киев, Дарынок, секция Б, второй этаж, сразу за свадебными салонами</p>
      <a routerLink="/contact" class="home__button"><span class="home__button-text">Связаться</span><i class="icon icon-b icon-arrow-btn"></i></a>
    </div>
  </div>
</div>
<app-footer-less class="contacts__footer"></app-footer-less>
