.contact {
  display: flex;
  width: 100vw;
  height: 100vh;
  justify-content: center;
  align-items: center;
  background: url(../../assets/BG.png) 0 0 no-repeat;
  -webkit-background-size: cover;
  background-size: cover;
}

@media screen and (max-width: 690px) {
  .contact {
    padding: 56px 20px;
    overflow-y: auto;
  }

  .contact__footer {
    display: none;
  }
}
