<div class="kitchen">
  <div class="kitchen__item-wrapper">
    <h2 class="kitchen__title">Шкаф FINA</h2>
    <div class="kitchen__item">
      <img src="../../assets/fina@2x.jpg" alt="" routerLink="/effeti" height="auto" width="90%">
      <p class="kitchen__year">&mdash; 2016</p>
    </div>
    <div class="kitchen__item kitchen__item-1">
      <p class="kitchen__text">
        Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut.
        magna aliquam erat volutpat enim ad minim veniam.
      </p>
    </div>
  </div>
  <div class="kitchen__item-wrapper">
    <h2 class="kitchen__title">Шкаф WARM</h2>
    <div class="kitchen__item kitchen__item-1">
      <p class="kitchen__text">
        Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut.
        magna aliquam erat volutpat enim ad minim veniam.
      </p>
    </div>
    <div class="kitchen__item">
      <img src="../../assets/warm@2x.jpg" alt="" height="auto" width="90%">
      <p class="kitchen__year kitchen__year-2">&mdash; 2017</p>
    </div>
  </div>
</div>
