/* FORM ======================================= */
.contact-form__wrapper {
  width: 400px;
}

.contact-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

/* TEXT ======================================= */
.contact-form__text {
  font-family: 'Montserrat', sans-serif;
  font-size: 1.7em;
  font-weight: 600;
  line-height: 1.67;
  color: #fff;
  margin-bottom: 16px;
}

/* FIELD ======================================= */
.contact-form__field {
  width: 100%;
  margin-bottom: 10px;
}

/* INPUT ======================================= */
.contact-form__input {
  color: #fff;
}

/* FOOTER ======================================= */
.contact-form__footer {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-top: 16px;
}

.contact-form__uploader {
  width: 175px;
  font-family: 'Montserrat', sans-serif;
  font-size: 1em;
  font-weight: 300;
  text-transform: uppercase;
  color: rgba(255, 255, 255, 0.8);
}


/* BUTTON ======================================= */
.contact-form__button {
  font-family: 'Montserrat', sans-serif;
  font-size: 1em;
  font-weight: 600;
  letter-spacing: 1px;
  text-align: center;
  color: #fec56a;
  background-color: rgba(0, 0, 0, 0);
  padding: 0;
  border: none;
  cursor: pointer;
  text-transform: uppercase;
  transition: all .5s;
  width: 165px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.contact-form__button:hover .contact-form__button-text{
  margin-right: 20px;
}

.contact-form__button-text {
  display: block;
  width: 115px;
  float: left;
  transition: all .5s;
  text-align: left;
  margin-right: 10px;
}

@media screen and (max-width: 690px) {
  .contact-form__wrapper  {
    width: 100%;
  }
}

