.catalog {
  display: flex;
  height: 100vh;
}

.catalog__item-1 {
  width: 30vw;
  height: 100vh;
  background-color: #1f1f1f;
  -webkit-background-size: cover;
  background-size: cover;
  padding: 80px 8px 32px 80px;
  overflow-y: auto;
}

.catalog__item-1::-webkit-scrollbar {
  width: 0;
}

.catalog__item-2 {
  width: 70vw;
  background-color: #1f1f1f;
  overflow-y: auto;
}

.catalog__text-title {
  font-family: 'Montserrat', sans-serif;
  font-size: 1.7em;
  line-height: 1.67;
  color: #fff;
  margin-bottom: 24px;
}

.catalog__text-title-2 {
  font-family: 'Montserrat', sans-serif;
  font-size: 1.3em;
  line-height: 1.67;
  color: #fff;
  margin-bottom: 16px;
}

.catalog__list {
  margin-bottom: 32px;
  list-style-type: none;
  color: #fff;
  font-family: 'Montserrat', sans-serif;
  font-size: 1em;
  line-height: 1.67;
}

.catalog__list-item {
  margin-bottom: 4px;
  transition: all .5s;
}

.catalog__list-item:hover {
  padding-left: 10px;
}

.catalog__link {
  text-decoration: none;
  color: rgba(255, 255, 255, .75);
}

.catalog__link:hover {
  color: rgba(255, 255, 255, 1);
}

.catalog__link-active {
  color: rgba(255, 255, 255, 1);
}


/**/
.catalog__container-inner {
  display: flex;
  align-items: center;
  height: 50vh;
}

.catalog__container-inner-item {
  display: flex;
  align-items: center;
}

.textttt {
  color: #fff;
  font-family: 'Montserrat', sans-serif;
  width: 400px;
}

.img {
  margin-right: 30px;
}
