$proj-font: 'Montserrat', sans-serif;

.home {
  width: 100vw;
  height: 100vh;
  background: url(../../assets/BG-Final.png) center no-repeat;
  -webkit-background-size: cover;
  background-size: cover;
  padding: 18vh 0 0 7vw;
  /*background-blend-mode: multiply;*/
  /*-webkit-clip-path: polygon(35% 100%, 100% 100%, 100% 10%, 35% 10%);*/
}

.home__container {

}

.home__text {
  font-family: $proj-font;
  text-align: left;
}

.home__text-1 {
  font-size: 1.1em;
  color: rgba(255, 255, 255, 0.8);
  margin-bottom: 40px;
}

.home__text-2 {
  font-size: 3em;
  letter-spacing: 1.2px;
  line-height: 1.2em;
  color: #ffffff;
  margin-bottom: 16px;
}

.home__button {
  font-family: $proj-font;
  font-size: .9em;
  font-weight: 600;
  letter-spacing: 1px;
  text-align: center;
  color: #fec56a;
  background-color: rgba(0, 0, 0, 0);
  padding: 0;
  border: none;
  cursor: pointer;
  text-transform: uppercase;
  transition: all .5s;
  width: 250px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  text-decoration: none;
}

.home__button:hover .home__button-text{
  margin-right: 20px;
}

.home__button-text {
  display: block;
  transition: all .5s;
  text-align: left;
  margin-right: 10px;
}


@media screen and (max-width: 690px) {
  .home__footer {
    display: none;
  }

  .home__text-2 {
    font-size: 2em;

  }

  .home__text-1 {
    margin-bottom: 32px;
  }

  .home {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 20px;
  }
}

@media screen and (max-width: 300px) {
  .home__button {
    width: 100%;
  }
}
