<div class="effeti">
  <div class="effeti__item-1">
    <div>
      <h2 class="effeti__title">Кухня <br>Effeti</h2>
      <p class="effeti__title-2">Италия</p>
      <i class="effeti__button-back icon icon-cross" (click)="goBack()"></i>
    </div>
  </div>
  <div class="effeti__item-2">
    <div class="effeti__text-container">
      <h2 class="effeti__text-title">Кухни</h2>
      <h3 class="effeti__text-1">&mdash; Кухня Effeti</h3>
      <p class="effeti__text-2">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut.
        magna aliquam erat volutpat enim ad minim veniam.
        Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut.
        magna aliquam erat volutpat enim ad minim</p>
      <h3 class="effeti__text-1">&mdash; Детали продукта</h3>
      <div class="effeti__pic">
        <div class="effeti__item_flex">
          <h4 class="effeti__text-3">Производитель:</h4>
          <p class="effeti__text-4">Италия</p>
          <h4 class="effeti__text-3">Цена:</h4>
          <p class="effeti__text-5">₴35 000</p>
        </div>
        <div class="effeti__item_flex">
          <h4 class="effeti__text-3">Материалы:</h4>
          <p class="effeti__text-4">Черное дерево</p>
          <h4 class="effeti__text-3">Поделиться: </h4>
          <app-social-media-2></app-social-media-2>
        </div>
      </div>
    </div>
  </div>
</div>
<app-footer-less class="effeti__footer"></app-footer-less>
